:root {
 /* --page-color: #fdfde8; */
 /* --page-color: #faf0ca; */
  --page-color: #fefae0;
  --red-accent: #ef476f;
  --yelow-accent: #ffd166;
  --green-accent: #06d6a0;
  --blue-accent: #118ab2;
}

#root {
  display: flex;
}

.input-container {
  box-sizing: border-box;
  padding: 5rem;
  min-height: 100vh;
  width: 50%;
  display: flex;
  place-items: center;
}

.display-container {
  width: 50%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}

.display-page {
  margin: 6rem;
  box-sizing: border-box;
  max-height: 100vh;
  aspect-ratio: 8.5 / 11;
}

.degree-and-location, .title-and-location {
  font-style: italic;
}

.school-and-date, .company-and-date {
  font-weight: bold;
}

.school-and-date, .degree-and-location, .company-and-date, .title-and-location {
  display: flex;
  justify-content: space-between;
}
