:root {
 /* --page-color: #fdfde8; */
 /* --page-color: #faf0ca; */
  --page-color: #fefae0;
  --red-accent: #ef476f;
  --yelow-accent: #ffd166;
  --green-accent: #06d6a0;
  --blue-accent: #118ab2;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: .8rem;
}

label {
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 2px;
}

p {
  font-size: .8rem;
}

#root {
  display: flex;
}


.display-container {
  width: 50%;
  max-height: 100vh;
  justify-content: center;
}

.display-page {
  margin: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  max-height: 100vh;
  aspect-ratio: 8.5 / 11;
  width: auto;
  /* scale: 0.85;
  position: relative;
  top: -4rem;
  left: -2rem; */
}

.display-page ul {
  overflow-wrap: break-word;
  margin: 0.5rem 0;
}

.display-page p, .display-page li {
  font-size: 12px;
}

.display-personal-section {
  text-align: center;
}

.degree-and-location, .title-and-location {
  font-style: italic;
}

.degree-and-location p, .title-and-location p, .skills p, .interests p {
  margin: 0;
}

.input-container {
  box-sizing: border-box;
  padding: 2.5rem 1.5rem;
  min-height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
}

.input-group {
  gap: 6px;
}

.input-group, .job {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6px;
}


.input-form {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.input-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}


.school-and-date, .company-and-date {
  font-weight: bold;
}

.school-and-date, .degree-and-location, .company-and-date, .title-and-location {
  display: flex;
  justify-content: space-between;
}

.selection-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills, .interests {
  display: grid;
  align-items: center;
}

.skills h3, .interests h3 {
  margin: 6px 0;
}

.skills-interests-wrapper {
  display: flex;
  gap: 1rem;
}

.skills-input textarea, .interests-input textarea {
  height: 8rem;
}

@media print {
  .input-container {
    display: none;
  }
  .display-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #root {
    width: 100%;
  }
}
