:root {
 /* --page-color: #fdfde8; */
 /* --page-color: #faf0ca; */
  --page-color: #fefae0;
  --red-accent: #ef476f;
  --yelow-accent: #ffd166;
  --green-accent: #06d6a0;
  --blue-accent: #118ab2;
}

#root {
  display: flex;
}

.input-container {
  margin: 5rem;
  min-height: 100vh;
  width: 50%;
  display: flex;
  place-items: center;
}

.display-container {
  min-height: 100vh;
  width: 50%;
}

.display-page {
  margin: 5rem;
}

.degree-and-location {
  font-style: italic;
}

.school-and-date, .degree-and-location {
  display: flex;
  justify-content: space-between;
}
